<h1>Editing Service Time Category</h1>

<%= render 'form', service_time_category: @service_time_category %>

<%= link_to 'Show', @service_time_category %> |
<%= link_to 'Back', service_time_categories_path %>
