<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_time_category.name %>
</p>

<%= link_to 'Edit', edit_service_time_category_path(@service_time_category) %> |
<%= link_to 'Back', service_time_categories_path %>
