<h1>Editing Service Type Category</h1>

<%= render 'form', service_type_category: @service_type_category %>

<%= link_to 'Show', @service_type_category %> |
<%= link_to 'Back', service_type_categories_path %>
