<div class="card w-50" style='margin: 0 auto;padding:30px;'>
  <div class="card-body">
    <h3 class="card-title" style='font-weight:bold;'>您的權限還沒開通</h3>
    <p class="card-text">
        <h5>感謝您的註冊!</h5>
        <h5>請您耐心等候審核，方可聆聽話語</h5>
        <h5>若欲加速審核時間，請聯絡天民音響部，謝謝您 :)</h5>
    </p>
  </div>
</div>
