<div class="card" style='margin: 0 auto;padding:30px;max-width:400px; margin-top:20px;'>
  <div class="card-body">
    <h3 class="card-title" style='font-weight:bold;text-align: center;'>
      新增影片
    </h3>
    <p class="card-text">
        <%= render 'form', link: @link %>
    </p>
    <%= link_to 'Back', links_path %>
  </div>

</div>
