<div class="card" style='margin: 0 auto;padding:30px;max-width:600px; margin-top:20px;'>
  <div class="card-body">
    <h3 class="card-title" style='font-weight:bold;text-align: center;'>
      編輯話語
    </h3>
    <p class="card-text">
        <%= render 'form', word: @word %>
    </p>
    <%= link_to 'Back', link_path(@word.link_id) %>
  </div>

</div>
